@using cv.Common
@inject IDataProvider Localization

@if (Localization.SelectedCVData != null)
{
    @foreach (var exp in Localization.SelectedCVData.Experiences)
    {
        <Collapsable Class="mb-4" Title="@exp.Title">
            <TitleContent>
                <div class="d-flex justify-space-between align-center">
                    <MudText Style="font-weight: bold;font-size: 1.4rem;color:#ecebf7;">
                        @exp.Title
                    </MudText>
                    <MudText Style="font-weight: normal;font-size: 1.2rem;color:#ecebf7;">
                        @exp.StartDate.ToString(Localization.SelectedLocalization.DateFormat) - @exp.EndDate.ToString(Localization.SelectedLocalization.DateFormat)
                    </MudText>
                </div>
            </TitleContent>

            <ChildContent>
                <MudText Class="pa-2 experience-text" Typo="Typo.body1">
                    @exp.Description
                </MudText>

                @if (!string.IsNullOrEmpty(exp.ImagesDir))
                {
                    <MudCarousel
                        Class="mud-width-full"
                        Style="display: table;"
                        ShowArrows="true"
                        ShowBullets="true"
                        AutoCycle="true"
                        AutoCycleTime="@TimeSpan.FromSeconds(8)"
                        TData="int"
                        ItemsSource="@Enumerable.Range(1, exp.ImageCount)">
                        <ItemTemplate>
                            <div class="d-flex justify-center" style="display: table-row;">
                                <MudImage Fluid="true" Src="@($"{BaseUrlImages}{context}.png")"/>
                            </div>
                        </ItemTemplate>
                    </MudCarousel>
                }
            </ChildContent>
        </Collapsable>
    }
}
else
{
    //Loading
}

@code {

#if DEBUG
    private string BaseUrlImages = "https://localhost:5001/Images/Projects/HospitalManager/";
#else
    private string BaseUrlImages = "https://cv.mariogk.top/Images/Projects/HospitalManager/";
#endif

    protected override Task OnInitializedAsync()
    {
        Localization.LocalizationChanged += async () => { await InvokeAsync(StateHasChanged); };
        return Task.CompletedTask;
    }

}